node_modules
examples
!packages/pda/examples
.turbo/cache
turbo-build.log
biubiu.env
.turbo
.VSCodeCounter
*.db
*.db-shm
*.db-wal
apps/chat.biubiu.tools/.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-shm
apps/chat.biubiu.tools/.wrangler/state/v3/do/chat-biubiu-tools-RoomDO/metadata.sqlite-shm
