PORT=8080
DATABASE_URL=postgres://localhost/mydb
API_KEY=secretxxxxxxxxx
PUBLIC_APP_NAME=BiuBiu
PUBLIC_DOMAIN=https://biubiu.tools
ALCHEMY_API_KEY=Cbxxxxxxxxx
PIMLICO_API_KEY=pim_xxxxx 
BUNDLER_PROVIDER=pimlico